/* Disables Highlighting Of Text In The Navbar */
.no-highlight {
  user-select: none;
}
/* Custom Padding For Application */
@media screen and (min-width: 1200px) {
  .section.is-narrow {
    padding: 3rem 12rem;
  }
}
/* Spinner Styling */
.spin-img {
  width: 200px;
  margin: auto;
  display: block;
}
/* Button Margins */
.search-margin {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.clear-margin {
  margin-bottom: 0.8rem;
}
.info-margin {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.back-margin {
  margin-bottom: 0.8rem;
}
/* Styling For User Grid */
.user-style {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.repo-style {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 1200px) {
  .user-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .repo-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.card-padding {
  padding: auto;
}
/* Margin for Single User Card Content */
.content-margin {
  margin: auto;
}
/* Tags Group Margin */
.tags-margin {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.repo-tags-margin {
  margin: 0.5rem 0rem 1rem 1rem;
}
.repo-content {
  padding: 0.5rem;
}
